#botones{
    text-align: center;
}

button{
    margin-top:80px;
    margin-left: 25px;
    margin-right: 25px;
}

.container-fluid{
    display: flex;
    align-content: center;
    margin-top: 20px;
}

.horizontal{
    justify-content: space-around;
}

.vertical{
    flex-direction: column;
    align-items: center;
}

.uno, .dos, .tres, .cuatro{
    background-color: blueviolet;
    width: 5rem;
    height: 5rem;
    margin-bottom: 20px;
}

.dos, .cuatro{
    background-color: black;
}